.row {
  display: flex;
  margin-left: 500px ;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid #a1a1a1;
}

h1 {
  color:aqua;
  text-align: center;
}

body {
  background-color: teal;
}

